.black-side {
  background-color: #000;
  &__wrapper {
    max-width: $desktop-hd;
    @media (min-width: $desktop-hd) {
      margin: 0 auto;
    }
  }
  &__content {
    margin-left: 72px;
    @media (max-width: $tablet) {
      margin-left: 8%;
      margin-right: 8%;
    }
  }
}
